<% layout('./layouts/layout') -%>

    <div class="row">
        <div class="col-md-6 offset-md-3 my-5">
            <h3 class="text-center mb-5">Nuova Transazione</h3>
            <form class="form-inline validated-form" method="post" action="/transactions/new/<%= group._id %>" novalidate>
                <div class="mb-3">
                    <label for="description" class="form-label">Descrizione (opzionale)</label>
                    <textarea class="form-control" id="description" name="description"></textarea>
                </div>
                <div class="mb-3">
                    <label for="category" class="form-label">Categoria</label>
                    <select class="form-control" id="category" name="category">
                        <% for(cat of categories) { %>
                            <option value="<%= cat %>"><%= cat %></option>
                        <% } %>
                    </select>
                </div>
                <label class="mb-2">Partecipanti</label>
                <% for(let p of group.participants) { %>
                    <div class="row mb-2">
                        <div class="col">
                            <input type="text" class="form-control" name="username[]" value="<%= p.username %>" readonly>
                            <input type="hidden" name="user[]" value="<%= p._id %>">
                        </div>
                        <div class="col-4">
                            <div class="input-group">
                                <span class="input-group-text">€</span>
                                <input type="number" min="0" class="form-control" name="amount[]">
                            </div>
                        </div>
                    </div>
                <% } %>
                <button type="submit" class="btn btn-success mt-3 w-100">Invia</button>
            </form>
        </div>
    </div>

