<% layout('./layouts/layout') -%>

    <div class="row">
        <div class="col-md-6 offset-md-3 my-5">
            <h3 class="text-center mb-5">Modifica Transazione</h3>
            <form class="form-inline validated-form" method="post" action="/api/transactions/<%= transaction.group._id %>/<%= transaction._id %>/?_method=PATCH" novalidate>
                <div class="mb-3">
                    <label for="description" class="form-label">Descrizione (opzionale)</label>
                    <input type="text" class="form-control" id="description" name="description" value="<%= transaction.description %>">
                </div>
                <% for(let t of transaction.amounts) { %>
                    <div class="row mb-2">
                        <div class="col">
                            <input type="text" class="form-control" name="user[]" value="<%= t.user %>"
                                readonly>
                        </div>
                        <div class="col-4">
                            <div class="input-group">
                                <span class="input-group-text">€</span>
                                <input type="number" min="0" class="form-control" name="amount[]" value="<%= t.amount %>">
                            </div>
                        </div>
                    </div>
                    <% } %>
                        <button type="submit" class="btn btn-success btn-lg w-100">Invia</button>
            </form>
        </div>
    </div>
